

@model Bakery_System.ViewModels.OrderViewModel

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="wwwroot/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home css/bootstrap.min.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Bakery</title>
  </head>
  <body>
    <!-- NavBat -->
    <nav
      class="navbar navbar-expand-lg shadow"
      style="background-color: #e5dccb">
      <div class="container-fluid mx-2">
        <a class="navbar-brand" href="#">
                <img style="width: 40%" src="~/images/Home assests/logo.png" alt="" />
            </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarText"
          aria-controls="navbarText"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul
            class="navbar-nav me-auto mb-2 mb-lg-0 fw-medium gap-4"
            style="font-size: 17px; border-bottom: 2px solid #ad9781">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="About" asp-action="Index">About US</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="Menu" asp-action="Index">Menu</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="Reservation" asp-action="Create">Reservation</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="Review" asp-action="Contact">Contact Us</a>

                    </li>

                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="UserProfile" asp-action="Index">Profile</a>

                    </li>

          </ul>
                <div class="d-flex gap-3">
                    <span class="navbar-text">
                        <a asp-controller="Register" asp-action="Index">Sign Up</a>
                    </span>
                    <span class="navbar-text"> | </span>
                    <span class="navbar-text">
                        <a asp-controller="SignIn" asp-action="Index">Sign In</a>
                    </span>
                </div>
      </div>
    </nav>
    <!-- cart -->
    <section class="bakeryCart container py-5 my-5" data-aos="fade-right">
      <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="fw-bolder fs-2" style="color: #553e27">Your cart</span>
                    <span class="badge bg-danger rounded-pill">3</span>
                </h4>

                @if (ViewBag.ProductName != null)
                {
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">@ViewBag.ProductName</h6>
                                <small class="text-body-secondary"> Qantity : @ViewBag.Quantity</small>
                            </div>
                            <span class="text-body-secondary">$@ViewBag.Price</span>
                        </li>
                    </ul>
                }


               
                <form class="card p-2">
                    <div class="input-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Promo code" />
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
          </form>
        </div>
        <div class="col-md-7 col-lg-8">
          <h4 class="mb-3">Billing address</h4>
                <form asp-action="Create" asp-controller="Order" method="post" class="needs-validation" novalidate>
                    <input type="hidden" name="Price" value="@ViewBag.Price" />
                    
                   
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label asp-for="FirstName" class="form-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="invalid-feedback"></span>
                        </div>
                        <div class="col-sm-6">
                            <label asp-for="LastName" class="form-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="invalid-feedback"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="UserName" class="form-label"></label>
                            <input asp-for="UserName" class="form-control" />
                            <span asp-validation-for="UserName" class="invalid-feedback"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="Email" class="form-label"> Email </label>
                            <input asp-for="Email" class="form-control" placeholder="you@example.com" />
                            <span asp-validation-for="Email" class="invalid-feedback"></span>
                        </div>
                        <div class="col-12">
                            <label asp-for="Address" class="form-label"></label>
                            <input asp-for="Address" class="form-control" placeholder="1234 Main St" required />
                            <span asp-validation-for="Address" class="invalid-feedback"></span>
                        </div>
                    </div>

                    <hr class="my-4" />
                    <h4 class="mb-3">Payment</h4>
                    <div class="my-3">
                        <div class="form-check">
                            <input asp-for="PaymentMethod" class="form-check-input" type="radio" id="credit" value="Credit card" required />
                            <label class="form-check-label" for="credit">Credit card</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="PaymentMethod" class="form-check-input" type="radio" id="debit" value="Debit card" required />
                            <label class="form-check-label" for="debit">Debit card</label>
                        </div>
                        <div class="form-check">
                            <input asp-for="PaymentMethod" class="form-check-input" type="radio" id="paypal" value="PayPal" required />
                            <label class="form-check-label" for="paypal">PayPal</label>
                        </div>
                        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
                    </div>

                    <hr class="my-4" />
                    <button class="w-100 btn btn-primary btn-lg border-0"
                            style="background-color: #553e27 !important"
                            type="submit">
                        Continue to checkout
                    </button>
                </form>

        
      
    </section>

    <!-- footer -->
    <footer
      class="container-fluid py-5 border-top"
      style="background-color: #212529"
    >
      <div class="row text-white text-center text-sm-start">
        <div class="col-12 col-sm-6 col-md-3 mb-4">
                <img src="~/images/Home assests/logo.png"
                     class="img-fluid w-50 mb-2"
                     alt="Logo" />
          
          <p class="mb-0">© 2025</p>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">About</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-3 mb-4">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">About</a>
            </li>
          </ul>
        </div>

        <div class="col-12 col-md-3 mb-4">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Home</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Features</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">Pricing</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">FAQs</a>
            </li>
            <li class="nav-item mb-2">
              <a href="#" class="nav-link p-0 text-white">About</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
