@model Bakery_System.ViewModels.HomeViewModel     //strongly type => HomeViewModel

@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="css/Home css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Bakery</title>
</head>
<body>
    <!-- NavBat -->
    <nav class="navbar navbar-expand-lg shadow"
         style="background-color: #e5dccb">
        <div class="container-fluid mx-2">
            <a class="navbar-brand" href="#">
                <img style="width: 40%" src="images/Home assests/logo.png" alt="" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarText"
                    aria-controls="navbarText"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-medium gap-4"
                    style="font-size: 17px; border-bottom: 2px solid #ad9781">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="About" asp-action="Index">About US</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="Menu" asp-action="Index">Menu</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="Reservation" asp-action="Create">Reservation</a>
                    </li>
                    <li class="nav-item navbar-item">
                        <a class="nav-link" asp-controller="ContactUS" asp-action="Index">Contact Us</a>
                    </li>
                </ul>
                <div class="d-flex gap-3">
                    <span class="navbar-text"> <a href="">Sign Up</a> </span>
                    <span class="navbar-text"> | </span>
                    <span class="navbar-text"> <a href="">Sign In</a> </span>
                </div>
            </div>
        </div>
    </nav>
    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content" data-aos="fade-up" data-aos-duration="800">
            <h1 class="hero-title">
                Freshly <br />
                Baked, Just For You
            </h1>
            <div class="hero-buttons d-flex justify-content-center gap-5">
                <a href="#" class="hero-button rounded-5">Make Reservation</a>
                <a href="#"
                   class="hero-button rounded-5"
                   style="background-color: aliceblue; color: #b28158">Delivery</a>
            </div>
        </div>
    </section>
    <!-- Most Popular Section -->
    <section class="popular-section" data-aos="fade-up" data-aos-duration="800">
        <h2 class="mx-auto d-flex justify-content-center fw-bolder fs-1">
            Our Most Popular
        </h2>
        <div class="divider"></div>
        <div class="popular-container container d-sm-flex justify-content-center">
            <div class="popular-images col-lg-7 col-md-7 col-sm-12">
                <img src="images/Home assests/most popular1.jpg"
                     alt="Pizza varieties"
                     class="image-1" />
                <img src="images/Home assests/most popular2.jpg" alt="Pastries" class="image-2" />
            </div>
            <div class="popular-content col-lg-2 col-md-3 col-sm-12">
                <h3 class="fw-bolder">Morning <br />special</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text
                    ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>
                <button class="order-button fw-bold fs-5">Order Now !</button>
            </div>
        </div>
    </section>

    <!-- our offers -->

    <section class="offers-section"
             data-aos="fade-right"
             data-aos-duration="800">
        <h2 class="mx-auto d-flex justify-content-center fw-bolder fs-1">
            Our Offers
        </h2>
        <div class="divider"></div>

        <div class="offers-container container gap-lg-4 d-sm-flex justify-content-center mt-5">
            <div class="offer col-lg-3 col-md-4 col-sm-12 justify-content-center text-center">
                <img src="images/Home assests/donunts-offers.png" class="w-100" alt="" />
                <h3 class="fw-bolder">Donuts</h3>
                <p class="text-secondary">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry
                </p>

                <p class="fs-5 d-flex gap-3 justify-content-center">
                    <em class="fw-bold text-secondary text text-decoration-line-through">50.00 EGP</em>
                    <em class="fw-bold" style="color: #b28158">35.00 EGP</em>
                </p>
            </div>
            <div class="offer col-lg-3 col-md-4 col-sm-12 justify-content-center text-center">
                <img src="images/Home assests/pastry-offers.png" class="w-100" alt="donuts" />
                <h3 class="fw-bolder">Puff Pastery</h3>
                <p class="text-secondary">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry
                </p>

                <p class="fs-5 d-flex gap-3 justify-content-center">
                    <em class="fw-bold text-secondary text text-decoration-line-through">50.00 EGP</em>
                    <em class="fw-bold" style="color: #b28158">35.00 EGP</em>
                </p>
            </div>
            <div class="offer col-lg-3 col-md-4 col-sm-12 justify-content-center text-center">
                <img src="images/Home assests/cake-offers.png" class="w-75" alt="" />
                <h3 class="fw-bolder">Cake</h3>
                <p class="text-secondary">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry
                </p>

                <p class="fs-5 d-flex gap-3 justify-content-center">
                    <em class="fw-bold text-secondary text text-decoration-line-through">50.00 EGP</em>
                    <em class="fw-bold" style="color: #b28158">35.00 EGP</em>
                </p>
            </div>
        </div>
    </section>

    <!-- what we serve -->

    <section class="menu-categories" data-aos="fade-up" data-aos-duration="800">
        <div class="menu-grid">
            <div class="menu-card pastry">
                <h3>PASTRY</h3>
                <hr />
                <p><a href="products.html">view more</a></p>
            </div>
            <div class="menu-card dessert">
                <h3>DESSERT</h3>
                <hr />
                <p><a href="products.html">view more</a></p>
            </div>
            <div class="menu-card drinks">
                <h3>DRINKS</h3>
                <hr />
                <p><a href="products.html">view more</a></p>
            </div>
        </div>
        <p class="view-more">
            <a href="menu.html">There’s More View Menu &gt;&gt;</a>
        </p>
    </section>
    <!-- Footer -->

    <footer class="container-fluid py-5 border-top"
            style="background-color: #212529"
            data-aos="fade-up"
            data-aos-duration="800">
        <div class="row text-white text-center text-sm-start">
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <img src="images/Home assests/logo white.png"
                     class="img-fluid w-50 mb-2"
                     alt="Logo" />
                <p class="mb-0">© 2025</p>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-3 mb-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/Home js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>
