
    min-height: 100vh;
    padding: 30px 15px;
    background: transparent;
    z-index: 1;
}

.reservation-card {
    position: relative;
    background: rgba(86, 86, 86, 0.381);
    border-radius: 20px;
    max-width: 750px;
    width: 100%;
    border: 2px solid #5a452b;
    box-shadow: 0 10px 30px rgb(0, 0, 0);
    z-index: 2;
    backdrop-filter: blur(2px);
    width: 30rem;
}

.reservation-card .form-select {
    border-radius: 8px;
    text-align: center;
    color: #333; /* تغيير لون النص إلى لون أغمق */
    background-color: #f8f9fa; /* تغيير لون الخلفية إلى لون أفتح */
    border: 1px solid #ced4da; /* إضافة حد رمادي فاتح */
}

.reservation-card .form-select option {
    color: #333; /* التأكد من أن لون نص الخيارات أيضًا ليس أبيض */
    background-color: #fff; /* لون الخلفية الافتراضي للخيارات */
}

/* تخصيص لون الخلفية عند التمرير أو التحديد */
.reservation-card .form-select option:hover,
.reservation-card .form-select option:checked {
    background-color: #e9ecef; /* لون خلفية عند التمرير أو التحديد */
}

/* تخصيص لون نص الـ placeholder (إذا كان موجودًا) */
.reservation-card .form-select::placeholder {
    color: #6c757d;
}

.btn-book-now {
    background-color: #6d5334 !important;
    border-radius: 50px !important;
    font-weight: 500;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.btn-book-now:hover {
    background-color: #5a452b !important;
}
