@{
    ViewData["Title"] = "About Us";
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/aboutus.css" />
    <link rel="stylesheet" href="~/css/menu.css" />


    <link rel="stylesheet" href="~/css/Home css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <title>Bakery</title>
</head>
<body>
   
    <header>
        <!-- NavBat -->
        <nav class="navbar navbar-expand-lg shadow"
             style="background-color: #e5dccb">
            <div class="container-fluid mx-2">
                <a class="navbar-brand" href="#">
                    <img style="width: 40%" src="images/Home assests/logo.png" alt="" />
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarText"
                        aria-controls="navbarText"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-medium gap-4"
                        style="font-size: 17px; border-bottom: 2px solid #ad9781">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item navbar-item">
                            <a class="nav-link" asp-controller="About" asp-action="Index">About US</a>
                        </li>
                        <li class="nav-item navbar-item">
                            <a class="nav-link" asp-controller="Menu" asp-action="Index">Menu</a>
                        </li>
                        <li class="nav-item navbar-item">
                            <a class="nav-link" asp-controller="Reservation" asp-action="Create">Reservation</a>
                        </li>
                        <li class="nav-item navbar-item">
                            <a class="nav-link" asp-controller="Review" asp-action="Contact">Contact Us</a>

                        </li>
                    </ul>
                    <div class="d-flex gap-3">
                        <span class="navbar-text"> <a href="">Sign Up</a> </span>
                        <span class="navbar-text"> | </span>
                        <span class="navbar-text"> <a href="">Sign In</a> </span>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Hero Section -->
    <section class="aboutus-hero">
  <div class="hero-content">
    <h1 class="hero-title">About Us</h1>
    <p>
      At our bakery, the smell of freshly baked goodies welcomes you in — soft breads, flaky pastries, and sweet treats made daily with care and passion.
      <br />
      industry. Ipsu has been the industry's standard.
    </p>
  </div>
</section>
    <!-- Working Hours -->
    <section class="workHours mt-5 container">
        <div class="row align-items-md-stretch">
            <div class="col-md-6 d-flex justify-content-center align-items-center"
                 data-aos="fade-right">
                <img src="~/images/Home assests/workHRS.png" height="70%" alt="workHRs" />
              
                
            </div>
            <div class="col-md-5 d-flex align-items-center" data-aos="fade-left">
                <div class="p-5 rounded-4" style="background-color: #f8ece0">
                    <h2 class=""
                        style="font-size: 50px; font-weight: 900; color: #03193f">
                        Home sweet bakery
                    </h2>
                    <p class="text-secondary">
                        It is a long established fact that a reader will be distracted by
                        the readable content of a page when looking at its layout. The
                        point of using Lorem Ipsum is that it has a more-or-less normal
                        distribution of letters, as opposed to using 'Content here,
                        content here', making it look like readable English.
                    </p>
                    <h2 class="fw-bold" style="color: #03193f; font-style: italic">
                        Opening Hours :
                    </h2>

                    <p class="d-flex gap-5">
                        <span class="fw-bold text-secondary">Sunday - Thursday</span>
                        <span class="fw-medium" style="color: #b28158">09.00 - 16.00</span>
                    </p>

                    <p class="d-flex gap-5">
                        <span class="fw-bold text-secondary">Sunday - Thursday</span>
                        <span class="fw-medium" style="color: #b28158">09.00 - 16.00</span>
                    </p>

                    <img src="images /Home assests /dividert.png" width="100%" alt="" />
                    <img style="width: 40%" src="images/Home assests/logo.png" alt="" />
                </div>
            </div>
        </div>
    </section>

    <!-- satistics -->

    <section class="stats mt-4" data-aos="zoom-in">
        <div class="overlay"></div>
        <div class="stats-text">
            <h1>We Are The Best</h1>
            <p>
                <span>50+</span>
                <span>Deliveries a day</span>
            </p>
            <p>
                <span>60+</span>
                <span>Reservations a day</span>
            </p>
        </div>
    </section>

    <!-- reviews -->
    <section class="reviews mt-5">
        <div class="container py-4">
            <div class="review-header shadow" data-aos="fade-up">
                <h2>REVIEW 4.8 ⭐</h2>
                <p>HUNDREDS OF PEOPLE LOVED US</p>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="review-card shadow" data-aos="zoom-out-up">
                        <p class="mb-0">Bernice Miguez - 2 photos</p>
                        <p class="mb-0">
                            ★★★★★ The sweets and snacks from Palkhi are super yummy every
                            time! They sent my favorites today, and I really like them, the
                            taste is so much better than others. Yum!
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="review-card shadow" data-aos="zoom-out-up">
                        <p class="mb-0">Anjali Mishra - 3 photos</p>
                        <p class="mb-0">
                            ★★★★★ Ordered food today after a week-long break from ordering
                            from them, especially the appetizers and chocolates. Snacks are
                            delicious but nothing in the Maharashtrian special category.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="review-card shadow" data-aos="zoom-out-up">
                        <p class="mb-0">Global Zak - 8 photos</p>
                        <p class="mb-0">
                            ★★★★★ The order was really good, the packaging was really good,
                            the local Maharashtrian delivery service wasn't better than the
                            one Palkhi provides. Ready-to-eat Maharashtrian snacks! More
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="review-card shadow" data-aos="zoom-out-up">
                        <p class="mb-0">Arun Mahajan - 11 photos</p>
                        <p class="mb-0">
                            ★★★★★ The order was really awesome, I am so happy that my dear
                            Palkhi delivered my order with care. The delivery service was
                            slow but the order was delivered with care, I recommend this to
                            everyone!
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="review-card shadow" data-aos="zoom-out-up">
                        <p class="mb-0">Arushi Sharma - 6 photos</p>
                        <p class="mb-0">
                            ★★★★★ No one can beat the taste from Palkhi, wish you guys more
                            success! The true taste of Maharashtra.
                        </p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="review-card shadow" data-aos="zoom-out-up">
                        <p class="mb-0">Anusha Mahajan - 2 photos</p>
                        <p class="mb-0">
                            ★★★★★ Ordered today, thank you for this awesome taste of laddu
                            and puranpolis. Everything delicious, mind-blowing experience,
                            you guys rock! 😍
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>


    <!-- footer -->
    <footer class="container-fluid py-5 border-top"
            style="background-color: #212529"
            data-aos="fade-up"
            data-aos-duration="800">
        <div class="row text-white text-center text-sm-start">
            <div class="col-12 col-sm-6 col-md-3 mb-4">
                <img src="images/Home assests/logo.png"
                     class="img-fluid w-50 mb-2"
                     alt="Logo" />
                <p class="mb-0">© 2025</p>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-md-3 mb-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">About</a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-md-3 mb-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Home</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Features</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">Pricing</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">FAQs</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

</html>

